*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-separation{
    padding-bottom: 80px;
    padding-top: 80px;
}


.profile__icons {
    background-color: white;
    border-radius: 50%;
    width: fit-content;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform, background-color;
    transition-duration: 0.2s;
    color: black;
    cursor: pointer;
}

.profile__icons:hover {
    transform: scale(1.25);
}