---
const { text, src, color, background } = Astro.props;

---

<button class="button" style=`background-color: ${background}`>
        
    {src ? <img class="button__icon" src={src} alt=""/> : null}
    <span class="button__text" style=`color: ${color}`>
        <slot/>
    </span>
        
</button>


<style>
    .button{
        display: flex;
        padding: 10px 20px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        gap: 15px;

        width: fit-content;
        height: 50px;

        transition: transform 0.2s;
        border: none;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
        background: #202020;
        /*background: linear-gradient(to right, #ff8e1c, #ff2929);*/
    }

    .button:hover{
        transform: scale(1.1);
        /*background: linear-gradient(to right, #14b8a6, #22c55e);*/
    }

    .button__icon{
        width: 30px;
        height: 30px;
    }

    .button__text{
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: 600;
    }

</style>