---
import Button from "./Button.astro";
const {title, description, src, github, result} = Astro.props;
---

<article class="card-project">

    <h3 class="card-project__title">{title ? title : "Titulo proyecto"}</h3>

    <div class="card-project__image-container">
        <img
                class="card-project__image"
                src={src}
                alt="Imagen del proyecto"
        />
    </div>


    <p class="card-project__description">{description ? description : "Descripcion proyecto"}</p>


    <div class="card-project__tag">
        <slot/>

    </div>


    <div class="card-project__button-container">

      {result ? <a class="card-project__link" href={result}>
          <Button>
              <span class="card-project__arrow">
                Ver

                  <svg
                          stroke="currentColor"
                          fill="none"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          height="23"
                          width="23"
                          xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
                  </svg>

                </span>
          </Button>
      </a> : null}

      {github ? <a class="card-project__link" href={github}>
          <Button src="/github-black.svg">Codigo</Button>
      </a> : null}

    </div>

</article>




<style>
    .card-project {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        border-radius: 10px;
        padding: 20px;
        justify-content: center;
        gap: 10px;

        //box-shadow: 0px 5px 20px 0 rgba(218, 143, 255, 0.2);
        box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
        /* background: linear-gradient(
                 45deg,
                 rgba(17, 112, 255, 0.2),
                 rgba(3, 230, 255, 0.05),
                 rgba(88, 4, 255, 0.2)
         );*/

        overflow: hidden;
        position: relative;
    }

    .card-project__title {
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        font-family: fredoka, nunito, serif;

        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
    }

    .card-project__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        border-radius: 10px;
        background: linear-gradient(
                45deg,
                rgba(64, 156, 255, 0.3),
                rgba(218, 143, 255, 0.4),
                rgba(255, 105, 97, 0.2),
                rgba(255, 179, 64, 0.5),
                rgba(255, 212, 38, 0.3)
        );

    }

    .card-project__image {
        width: 90%;
        border-radius: 5px;
        filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.4));
    }

    .card-project__description {
        font-family: fredoka, nunito, serif;
    }

    .card-project__tag {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        margin: 15px 0;
    }

    .card-project__link {
        text-decoration: none;
    }

    .card-project__button-container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: auto;
    }


    .card-project__arrow {
        color: white;
        display: flex;
        gap: 15px;
        font-weight: bold;
    }

    @media (max-width: 767px) {
        /* Estilos específicos para móviles pequeños */
        .card-project__image-container{
          height: 300px;
        }
        .card-project__image{
            width: 80%;
        }
    }


</style>

