---

---

<script is:inline>
  function copyContent() {
    const textElement = document.querySelector("#emailText");
    if (textElement && textElement.textContent) {
      const textToCopy = textElement.textContent;
      navigator.clipboard.writeText(textToCopy).then(
        () => {
          alert("Texto copiado al portapapeles!");
        },
        (err) => {
          console.error("Error al copiar texto: ", err);
        }
      );
    } else {
      console.error("El elemento o su contenido no existen.");
    }
  }


</script>




<div class="copy-element">
  <span class="copy-element__title">

    <span id="emailText"><slot/></span>
    <button class="copy-element__copy-button" onclick="copyContent()">
      <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              fill="none"
      >
        <!-- Documento detrás -->
        <rect
                x="4"
                y="7"
                width="14"
                height="16"
                rx="4"
                ry="4"
                fill="#currentColor"
                stroke="currentColor"
                stroke-width="2"
        ></rect>
          <!-- Documento frente -->
        <rect
                x="7"
                y="4"
                width="14"
                height="16"
                rx="3"
                ry="3"
                fill="#ffffff"
                stroke="currentColor"
                stroke-width="2"
        ></rect>
      </svg>
    </button>
  </span>
</div>



<style>
    .copy-element__title {
        position: relative;
        display: flex;
        flex-direction: row;

        background-color: var(--copy-element-background-color);
        color: var(--copy-element-text-color);
        padding: 10px 70px 10px 20px;
        border-radius: 50px;
        font-family: 'Roboto', Arial, Fredoka, serif;
        width: fit-content;
    }

    .copy-element__copy-button {
        display: flex;
        position: absolute;
        right: -1px;
        top: -7px;
        bottom: -7px;
        padding: 14px;

        border-radius: 50%;
        border: 2px solid var(--copy-element-background-color);
        background-color: var(--copy-element-svg-background-color);
        color: var(--copy-element-svg-color);

        justify-content: center;
        align-items: center;
        transition-property: transform, background-color;
        transition-duration: 0.2s;
    }

    .copy-element__copy-button:hover {
        transform: scale(1.2);
        color: var(--copy-element-svg-color-hover);
    }

    .copy-element__copy-button:active {
        background-color: lightgray;
    }

    @media (max-width: 400px){
        #emailText{
            font-size: 15px;
        }
    }
</style>
