---

---
<script>

  const handleScroll = () => {

    const sections = document.querySelectorAll("section");
    const navLinks = document.querySelectorAll(".nav-link");

    let currentSection = "";

    /* Detecta la seccion activa*/
    sections.forEach((section) => {
      const sectionTop = section.offsetTop;
      const sectionHeight = section.offsetHeight;

      if (window.scrollY >= sectionTop - sectionHeight / 3) {
        currentSection = section.getAttribute("id")  ?? "";
      }
    });


    navLinks.forEach((link) => {
      link.classList.remove("active");
      if (link.getAttribute("href") === `#${currentSection}`) {
        link.classList.add("active");
      }
    });

  };

  window.addEventListener("scroll", handleScroll);

</script>




<header>
    <nav class="navbar">
        <a href="#inicio" class="nav-link" id="link-inicio">Inicio</a>
        <a href="#conocimientos" class="nav-link" id="link-conocimientos">Conocimientos</a>
        <a href="#proyectos" class="nav-link" id="link-proyectos">Proyectos</a>
    </nav>
</header>




<style>
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 20;
        margin-top: 8px;
    }

    .navbar {
        height: 50px;
        width: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px 30px;
        border-radius: 25px;

        animation: nav-shadow 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
        /*filter: blur(8px) brightness(1.2) contrast(1.5) opacity(0.9) saturate(1.8);*/
    }


    @keyframes nav-shadow {
        0% {
            background-color: rgb(255 255 255 / 0);
        }
        100% {
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.05);
            background: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(12px);
        }
    }

    .nav-link {
        text-decoration: none;
        color: black;
        font-family: var(--font-family);
        font-weight: 600;
        transition: color 0.2s, border-bottom 0.3s;
        font-size: 20px;
    }

    .nav-link:hover {
        color: goldenrod;
    }

    .nav-link.active {
        color: #ff9100;
        border-bottom: 3px solid #ff9100;
    }

    @media (max-width: 350px){
        .navbar{
            gap: 15px;
            max-width: 100%;
        }
        .nav-link {
            font-size: 16px;
        }
    }

</style>