---
import Button from "./Button.astro";
---
<section>

    <div class="info">

        <div class="info__background">
            <div class="info__title-container">
                <h1 class="info__title">Yeison Cordoba</h1>
                <span class="info__subtitle">Desarrollador web</span>
            </div>

            <p class="info__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <Button>
                Correo
            </Button>
        </div>

    </div>

    <div class="container-image">
        <div>
            <img src="/Yo.png" alt="foto de perfil">
        </div>
    </div>

</section>




<style>

    section {
        display: flex;
        gap: 20px;
        padding: 20px;
        justify-content: center;
        width: 1024px;
        margin: auto;
        height: 70%;
    }

    .info {
        background-color: #fff1f1;
        width: 60%;
        height: 100%;
        border-radius: 10px;
    }

    .info__background {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        gap: 20px;

        background: linear-gradient(
                75deg,
                rgba(64, 156, 255, 0.25),
                rgba(218, 143, 255, 0.2),
                rgba(255, 105, 97, 0.2),
                rgba(255, 179, 64, 0.3),
                rgba(255, 212, 38, 0.1)
        );
    }

    .info__title-container {
        display: flex;
        flex-direction: column;
    }

    .info__title {
        font-weight: 900;
        font-size: 55px;

        font-family: fredoka, nunito, serif;
        margin: 0;
    }

    .info__subtitle {
        font-family: fredoka, nunito, serif;
        font-size: 30px;
        font-weight: 500;
    }

    .info__text {
        font-family: nunito, serif;
        overflow: hidden;
        text-overflow: ellipsis;
    }




    .container-image {
        display: flex;
        width: auto;
        height: 100%;
        border-radius: 10px;
        background-color: #fff1f1;
        overflow: hidden;

    }

    .container-image > div {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        background: linear-gradient(
                75deg,
                rgba(64, 156, 255, 0.2),
                rgba(218, 143, 255, 0.2),
                rgba(255, 105, 97, 0.2),
                rgba(255, 179, 64, 0.2),
                rgba(255, 212, 38, 0.2)
        );
        overflow: hidden;
    }

    .container-image img {
        background-size: contain;
    }



</style>