---

import TitleSection from "./TitleSection.astro";
---
<section class="knowledge section-separation">

    <TitleSection title="Tecnologías"/>
    <div class="knowledge__container">

        <img src="/tecnologias/CSS.svg" alt="logo css"/>
        <img src="/tecnologias/HTML.svg" alt="logo html"/>
        <img src="/tecnologias/JS.svg" alt="logo js"/>
        <img src="/tecnologias/TS.svg" alt="logo ts"/>
        <img src="/tecnologias/REACT.svg" alt="logo react"/>
        <img src="/tecnologias/ANGULAR.svg" alt="logo angular"/>

        <img src="/tecnologias/NEXTJS2.svg" alt="logo css"/>
        <img src="/tecnologias/TAILWINDCSS.svg" alt="logo css"/>
        <img src="/tecnologias/ASTRO%20NARANJA.svg" alt="logo css"/>
        <img src="/tecnologias/JAVA.svg" alt="logo css"/>
        <img src="/tecnologias/SPRING%20BOOT.svg" alt="logo css"/>
        <img src="/tecnologias/MYSQL.svg" alt="logo css"/>

    </div>

</section>




<style>
    .knowledge {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: bisque;
        gap: 20px;
        padding-bottom: 100px;
    }

    .knowledge__container {
        display: flex;
        width: 900px;
        flex-wrap: wrap;
    }
</style>