---
import CardProject from "./CardProject.astro";
import Tag from "./Tag.astro";
import TitleSection from "./TitleSection.astro";
---
<section class="projects section-separation" id="proyectos">

    <TitleSection title="Proyectos"/>

    <div class="projects__container">


        <CardProject
                title="Emason"
                description="Emason es una aplicación web diseñada para gestionar artículos de compra, permitiendo su asociación con marcas y múltiples categorías. También tiene un sistema de gestión de roles con tres tipos de usuarios, cada uno con permisos específicos según su rol."
                src="/emasonall-shadow.png"
                githubLink="https://github.com/YeisonCordoba07/pragma-front"
        >
            <Tag
                    tagName="JavaScript"
                    src="/javascript.svg"
            />
            <Tag
                    tagName="TypeScript"
                    src="/typescript.svg"
            />
            <Tag
                    tagName="Angular"
                    src="/angular18.svg"
            />
            <Tag
                    tagName="Java"
                    src="/java.svg"
            />
            <Tag
                    tagName="Spring"
                    src="/spring.svg"
            />
            <Tag
                    tagName="MySQL"
                    src="/mysql.svg"
            />
        </CardProject>



        <CardProject
                title="Master Class"
                description="Replica de la página web de MasterClass utilizando únicamente HTML y CSS. Este proyecto se centró en practicar maquetación, recreando la estructura, estilos y tipografía característicos de la plataforma."
                src="/PaginaMasterClass.jpg"
                githubLink="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio4"
                resultLink="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio4/"
                showInfo="true"
        >
            <Tag
                    tagName="HTML"
                    src="/html5.svg"
            />

            <Tag
                    tagName="CSS"
                    src="/css.svg"
            />

        </CardProject>


        <CardProject
                title="Correos España"
                description="Recreación de la pagina web de Correos España empleando HTML y CSS. Este proyecto permitió desarrollar habilidades en la construcción de diseños estáticos y layouts organizados."
                src="/PaginaCorreos.jpg"
                githubLink="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio7"
                resultLink="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio7/"
                showInfo="true"
        >
            <Tag
                    tagName="HTML"
                    src="/html5.svg"
            />

            <Tag
                    tagName="CSS"
                    src="/css.svg"
            />

        </CardProject>

        <CardProject
                title="Mercado Libre"
                description="Clon de la página web de Mercado Libre implementado con HTML y CSS. El enfoque principal fue la recreación de interfaces de comercio electrónico, trabajando en la disposición de elementos como tarjetas de productos."
                src="/PaginaMercadoLibre.jpg"
                githubLink="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio8"
                resultLink="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio8/"
                showInfo="true"
        >
            <Tag
                    tagName="HTML"
                    src="/html5.svg"
            />

            <Tag
                    tagName="CSS"
                    src="/css.svg"
            />

        </CardProject>


    </div>

</section>




<style>

    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 1024px;
        margin: auto;
        gap: 40px;
    }

    .projects__container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        align-items: center;
        justify-items: center;
        gap: 20px;
    }




    @media (max-width: 767px) {
        .projects__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            width: 100%;
        }
        .projects{
            width: 100%;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .projects__container {
            grid-template-columns: 49% 49%;
            grid-template-rows: auto;
            width: 100%;
        }
        .projects{
            width: 100%;
        }
    }

    @media (min-width: 1024px) {
        .projects__container {
            min-width: 1024px;
        }
    }
</style>