---
import CardProject from "./CardProject.astro";
import Tag from "./Tag.astro";
import TitleSection from "./TitleSection.astro";
---
<section class="projects section-separation">

    <TitleSection title="Proyectos"/>

    <div class="projects__container">


        <CardProject
                title="Emason"
                description="Aplicación creada para el bootcamp de pragma. Permite crear productos y asignarlos a categorias y marcas, las cuales también se pueden crear."
                src="/emasonall-shadow.png"
                github="https://github.com/YeisonCordoba07/pragma-front"
        >
            <Tag
                    tagName="JavaScript"
                    color="black"
                    background="white"
                    src="/javascript.svg"
            />
            <Tag
                    tagName="TypeScript"
                    color="black"
                    background="white"
                    src="/typescript.svg"
            />
            <Tag
                    tagName="Angular"
                    color="black"
                    background="white"
                    src="/angular18.svg"
            />
            <Tag
                    tagName="Java"
                    color="black"
                    background="white"
                    src="/java.svg"
            />
            <Tag
                    tagName="Spring"
                    color="black"
                    background="white"
                    src="/spring.svg"
            />
            <Tag
                    tagName="MySQL"
                    color="black"
                    background="white"
                    src="/mysql.svg"
            />
        </CardProject>



        <CardProject
                title="Master Class"
                description="Pagina creada para mejorar mis habilidades en maquetando paginas con HTML y CSS. En este punto no sabia como se agregaban iconos o interaciones a las paginas."
                src="/PaginaMasterClass.jpg"
                github="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio4"
                result="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio4/"
        >
            <Tag
                    tagName="HTML"
                    color="black"
                    background="white"
                    src="/html5.svg"
            />

            <Tag
                    tagName="CSS"
                    color="black"
                    background="white"
                    src="/css.svg"
            />

        </CardProject>


        <CardProject
                title="Correos España"
                description="Pagina creada para mejorar mis habilidades en maquetando paginas con HTML y CSS. En este punto no sabia como se agregaban iconos o interaciones a las paginas."
                src="/PaginaCorreos.jpg"
                github="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio7"
                result="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio7/"
        >
            <Tag
                    tagName="HTML"
                    color="black"
                    background="white"
                    src="/html5.svg"
            />

            <Tag
                    tagName="CSS"
                    color="black"
                    background="white"
                    src="/css.svg"
            />

        </CardProject>

        <CardProject
                title="Mercado Libre"
                description="Pagina creada para mejorar mis habilidades en maquetando paginas con HTML y CSS. En este punto no sabia como se agregaban iconos o interaciones a las paginas."
                src="/PaginaMercadoLibre.jpg"
                github="https://github.com/YeisonCordoba07/DesarrolloWebEjercicio8"
                result="https://yeisoncordoba07.github.io/DesarrolloWebEjercicio8/"
        >
            <Tag
                    tagName="HTML"
                    color="black"
                    background="white"
                    src="/html5.svg"
            />

            <Tag
                    tagName="CSS"
                    color="black"
                    background="white"
                    src="/css.svg"
            />

        </CardProject>


    </div>

</section>




<style>
    .projects {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
    }

    .projects__title {
        text-align: center;
        font-size: 60px;
        font-family: fredoka, nunito, serif;
        font-weight: 900;
        margin: 0;
        background: linear-gradient(45deg, rgb(255, 151, 0), rgb(255, 190, 92), rgb(255, 119, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .projects__container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        align-items: center;
        justify-items: center;

        gap: 20px;
        padding: 20px;
    }


    @media (max-width: 767px) {
        /* Estilos específicos para móviles pequeños */
        .projects__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            width: 100%;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        /* Estilos para tablets en modo vertical */
        .projects__container {
            grid-template-columns: 49% 49%;
            grid-template-rows: auto;
            width: 100%;
        }
    }

    @media (min-width: 1024px) {
        /* Estilos para pantallas medianas */
        .projects__container {
            min-width: 1024px;
            max-width: 1200px;
        }
    }
</style>