---
import Tag from "./Tag.astro";
import Info from "./Info.astro";
import Knowledge from "./Knowledge.astro";
import Project from "./Project.astro";
import Footer from "./Footer.astro";
---
<Info/>
<Knowledge/>
<Project/>
<Footer/>
<div>

    <Tag
            tagName="NextJS"
            color="white"
            background="black"
            src="/nextjs.svg"
    />

    <Tag
            tagName="Tailwind CSS"
            color="white"
            background="#003159"
            src="/tailwindcss.svg"
    />

    <Tag
            tagName="Angular"
            color="black"
            background="white"
            src="/angular18.svg"
    />

    <Tag
            tagName="JavaScript"
            color="black"
            background="white"
            src="/javascript.svg"
    />

    <Tag
            tagName="HTML"
            color="white"
            background="black"
            src="/html5.svg"
    />

    <Tag
            tagName="CSS"
            color="white"
            background="black"
            src="/css.svg"
    />

    <Tag
            tagName="Java"
            color="black"
            background="white"
            src="/java.svg"
    />

    <Tag
            tagName="React"
            color="white"
            background="black"
            src="/react.svg"
    />

    <Tag
            tagName="Astro"
            color="black"
            background="white"
            src="/tecnologias/ASTRO.svg"
    />

    <Tag
            tagName="TypeScript"
            color="black"
            background="white"
            src="/typescript.svg"
    />

    <Tag
            tagName="MySQL"
            color="black"
            background="white"
            src="/mysql.svg"
    />

    <Tag
            tagName="Spring"
            color="black"
            background="white"
            src="/spring.svg"
    />

    <Tag
            tagName="Figma"
            color="black"
            background="white"
            src="/figma.svg"
    />
</div>

<style is:global>
    @import "../styles/global.css";


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    @media screen and (max-height: 368px) {

    }

    @media screen and (max-width: 768px) {

    }
</style>
