---
import Tag from "./Tag.astro";
import CardProject from "./CardProject.astro";
import Info from "./Info.astro";
import TitleSection from "./TitleSection.astro";
---
<Info></Info>

<section class="knowledge">
    <TitleSection title="Tecnologias"/>
    <div class="knowledge__container">

        <img src="/tecnologias/CSS.svg" alt="logo css"/>
        <img src="/tecnologias/HTML.svg" alt="logo html"/>
        <img src="/tecnologias/JS.svg" alt="logo js"/>
        <img src="/tecnologias/TS.svg" alt="logo ts"/>
        <img src="/tecnologias/REACT.svg" alt="logo react"/>
        <img src="/tecnologias/ANGULAR.svg" alt="logo angular"/>

        <img src="/tecnologias/NEXTJS2.svg" alt="logo css"/>
        <img src="/tecnologias/TAILWINDCSS.svg" alt="logo css"/>
        <img src="/tecnologias/JAVA.svg" alt="logo css"/>
        <img src="/tecnologias/SPRING%20BOOT.svg" alt="logo css"/>
        <img src="/tecnologias/MYSQL.svg" alt="logo css"/>

    </div>
</section>

<div>

    <section class="projects">

        <h2 class="projects__title">PROYECTOS</h2>

        <div class="projects__container">

            <CardProject
                    title="Mercado Libre"
                    description="Pagina creada para mejorar mis habilidades en maquetando paginas con HTML y CSS. En este punto no sabia como se agregaban iconos o interaciones a las paginas."
                    src="/PaginaMercadoLibre.jpg"
                    github="#"
                    result="#"
            >
                <Tag
                        tagName="JavaScript"
                        color="black"
                        background="white"
                        src="/javascript.svg"
                />
                <Tag
                        tagName="TypeScript"
                        color="black"
                        background="white"
                        src="/typescript.svg"
                />
                <Tag
                        tagName="Angular"
                        color="black"
                        background="white"
                        src="/angular18.svg"
                />

                <Tag
                        tagName="MySQL"
                        color="black"
                        background="white"
                        src="/mysql.svg"
                />

                <Tag
                        tagName="Spring"
                        color="black"
                        background="white"
                        src="/spring.svg"
                />

            </CardProject>

            <CardProject
                    title="Master Class"
                    description="Pagina creada para mejorar mis habilidades en maquetando paginas con HTML y CSS. En este punto no sabia como se agregaban iconos o interaciones a las paginas."
                    src="/PaginaMasterClass.jpg"
                    github="#"
                    result="#"
            >
                <Tag
                        tagName="HTML"
                        color="white"
                        background="black"
                        src="/html5.svg"
                />

                <Tag
                        tagName="CSS"
                        color="white"
                        background="black"
                        src="/css.svg"
                />

            </CardProject>


            <CardProject
                    title="Correos España"
                    description="Pagina creada para mejorar mis habilidades en maquetando paginas con HTML y CSS. En este punto no sabia como se agregaban iconos o interaciones a las paginas."
                    src="/PaginaCorreos.jpg"
                    github="#"
                    result="#"
            >
                <Tag
                        tagName="HTML"
                        color="white"
                        background="black"
                        src="/html5.svg"
                />

                <Tag
                        tagName="CSS"
                        color="white"
                        background="black"
                        src="/css.svg"
                />

            </CardProject>


            <CardProject
                    title="Emason"
                    description="Aplicación creada para el bootcamp de pragma. Permite crear productos y asignarlos a categorias y marcas, las cuales también se pueden crear."
                    src="/PaginaMercadoLibre.jpg"
                    github="#"
                    result="#"
            >
                <Tag
                        tagName="HTML"
                        color="white"
                        background="black"
                        src="/html5.svg"
                />

                <Tag
                        tagName="CSS"
                        color="white"
                        background="black"
                        src="/css.svg"
                />

            </CardProject>
        </div>

    </section>


    <Tag
            tagName="NextJS"
            color="white"
            background="black"
            src="/nextjs.svg"
    />

    <Tag
            tagName="Tailwind CSS"
            color="white"
            background="#003159"
            src="/tailwindcss.svg"
    />

    <Tag
            tagName="Angular"
            color="black"
            background="white"
            src="/angular18.svg"
    />

    <Tag
            tagName="JavaScript"
            color="black"
            background="white"
            src="/javascript.svg"
    />

    <Tag
            tagName="HTML"
            color="white"
            background="black"
            src="/html5.svg"
    />

    <Tag
            tagName="CSS"
            color="white"
            background="black"
            src="/css.svg"
    />

    <Tag
            tagName="Java"
            color="black"
            background="white"
            src="/java.svg"
    />

    <Tag
            tagName="React"
            color="white"
            background="black"
            src="/react.svg"
    />

    <Tag
            tagName="Astro"
            color="black"
            background="white"
            src="/astro.svg"
    />

    <Tag
            tagName="TypeScript"
            color="black"
            background="white"
            src="/typescript.svg"
    />

    <Tag
            tagName="MySQL"
            color="black"
            background="white"
            src="/mysql.svg"
    />

    <Tag
            tagName="Spring"
            color="black"
            background="white"
            src="/spring.svg"
    />

    <Tag
            tagName="Figma"
            color="black"
            background="white"
            src="/figma.svg"
    />
</div>

<style is:global>
    @import "../styles/global.css";


    .projects {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
    }

    .projects__title {
        text-align: center;
        font-size: 60px;
        font-family: fredoka, nunito, serif;
        font-weight: 900;
        margin: 0;
        background: linear-gradient(45deg, rgb(255, 151, 0), rgb(255, 190, 92), rgb(255, 119, 0));
        /* -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;*/
    }

    .projects__container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #ffe4e4;

        align-items: center;
        justify-items: center;

        gap: 20px;
        padding: 20px;
    }


    @media (max-width: 767px){
        /* Estilos específicos para móviles pequeños */
        .projects__container {
            background-color: #ffdcdc;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            width: 100%;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        /* Estilos para tablets en modo vertical */
        .projects__container {
            background-color: #e3ffe3;
            grid-template-columns: 49% 49%;
            grid-template-rows: auto;
            width: 100%;
        }
    }

    @media (min-width: 1024px) {
        /* Estilos para pantallas medianas */
        .projects__container {
            background-color: #fff3e0;
            min-width: 1024px;
            max-width: 1200px;
        }
    }

    .knowledge {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: bisque;
        gap: 20px;
    }

    .knowledge__container {
        display: flex;
        width: 900px;
        flex-wrap: wrap;
    }


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    @media screen and (max-height: 368px) {

    }

    @media screen and (max-width: 768px) {

    }
</style>
