<!doctype html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Yeison Cordoba</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<button id="theme-toggle">Cambiar Tema</button>

<script>
  // Obtenemos el botón
  const themeToggleButton = document.getElementById('theme-toggle');

  // Cambiamos el tema al hacer clic en el botón
  themeToggleButton.addEventListener('click', () => {
    // Obtenemos el tema actual
    const currentTheme = document.documentElement.getAttribute('data-theme');

    // Calculamos el nuevo tema
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';

    // Aplicamos el nuevo tema
    document.documentElement.setAttribute('data-theme', newTheme);

    // Guardamos el nuevo tema en localStorage
    localStorage.setItem('theme', newTheme);
  });
</script>
<slot/>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        background-color: var(--document-background-color);
    }

</style>
